@import "custom";

#accounts-list {
  padding: 20px 0 0 20px;

  .list-accounts {
    width: 250px;
    margin: 20px 0 30px 0;
  }
  .item {
    padding: 10px;
    width: 230px;
    height: 25px;
    line-height: 25px;
    .name {
      font-size: 15px;
    }
  }
}

#accounts-edit {
  padding: 20px 0 0 20px;

  .security-label {
    margin: 22px 0 10px 0;
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    width: 408px;

    .desc {
      margin-bottom: 10px;
      font-style: italic;
    }
    .content {
      margin-top: 10px;
      height: 40px;
      line-height: 40px;
      .link {
        line-height: 20px;
      }
    }
    .title {
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 16px;
    }
    .radio-item {
      display: inline-block;
    }
    .setup-table {
      margin-bottom: 10px;
    }
    .setup-temp {

      .use-option > *{
        display: inline-block;
      }
      .use-option {
        margin-bottom: 10px;
      }
    }
    dropdown {
      width: 195px;
    }
    .radio-item label {
      width: 150px;
    }
  }
  .btn-bar {
    margin-left: -20px;
  }
}

.acc-acs-dlg {
  text-align: center;

  .dropdown-wrap {
    display: inline-block;
  }
  .btn-bar {
    display: inline-block;
    overflow: hidden;
    margin: 0 auto;
  }

  .settings-wrap {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  .items-wrap {
    text-align: left;
    font-size: 0;
    border-radius: 3px;
    background: #ffffff;
    margin-bottom: 10px;
    .item > * {
      display: inline-block;
    }
    .item {
      height: 30px;
      line-height: 28px;
      padding-left: 10px;
      .table-name {
        width: 115px;
      }
      .rule-name {
        width: 210px;
      }
      .time {
        width: 210px;
      }
    }
  }
}