@import "custom";

#accounts-list,
#groups-list {
  padding: 15px 0 0 15px;

  .list-accounts,
  .list-groups {
    margin: 20px 0 30px 0;

    .item {
      padding: 5px;
      width: 200px;
      height: 30px;
    }
  }
}

#accounts-edit,
#groups-edit,
#rules-edit {
  padding: 15px 0 0 15px;

  .users {
    margin: 30px 0 20px 0;
    background: #ffffff;
    font-size: 0;

    .users-group,
    .users-other {
      display: inline-block;
      vertical-align: top;
      width: 300px;

      .title {
        font-weight: bold;
        height: 30px;
        line-height: 30px;
        padding-left: 7px;
      }

      .item {
        cursor: pointer;
        height: 20px;
        line-height: 20px;
        padding-left: 7px;
      }
      .item:hover {
        background-color: #E9E9EC;
      }
    }
  }
}

#groups-edit {

  .hierarchy {

    .title {
      font-size: 16px;
      margin-bottom: 10px;
    }
    .parents-wrap {
      font-size: 0;
      margin-bottom: 10px;

      .parent-item > * {
        display: inline-block;
      }
      .parent-item {
        background-color: #ffffff;
        line-height: 20px;
        height: 20px;
        padding: 5px 0 5px 10px;

        .name {
          font-size: 14px;
          width: 100px;
        }
        .level {
          font-size: 14px;
          font-style: italic;
          width: 50px;
        }
        .rm {

        }
      }
    }
  }
}

#rules-edit {

  .options-wrap {

    .settings-wrap {
      .opt-desc {
        margin: 10px 0 10px 0;
      }

      .dropdown-wrap {
        height: 40px;
      }

      .select > * {
        display: inline-block;
      }
      .select {

        .item {
          cursor: pointer;

          &.selected {
            cursor: default;
            color: @basic-custom-color;
          }
          &.not-selected {

          }
        }
      }
    }
    .add-opt {
      margin: 10px 0 10px 0;
    }
    .option > * {
      display: inline-block;
    }
  }
}

#rules-list {
  padding: 15px 0 0 15px;

  .rules {
    margin: 20px 0 30px 0;

    .item {
      width: 200px;
      height: 40px;
      line-height: 40px;
      padding-left: 10px;
    }
  }
}

.add-parent-dlg {
  text-align: center;

  .dropdown-wrap {
    display: inline-block;
  }
  .btn-bar {
    display: inline-block;
    overflow: hidden;
    margin: 0 auto;
  }
}

#test-page {
  padding: 20px 0 0 20px;
}