<div id="accounts-edit">
    <div class="tbl">
        <div class="row">
            <div class="desc">Логин</div><div class="cont"><input type="text" ng-model="id"></div>
        </div>
        <div class="row">
            <div class="desc">Имя</div><div class="cont"><input type="text" ng-model="name"></div>
        </div>
        <div class="row">
            <div class="desc">Пароль</div><div class="cont"><input type="text" ng-model="password"></div>
        </div>
        <div class="row">
            <div class="desc">Должность</div><div class="cont"><input type="text" ng-model="position"></div>
        </div>
    </div>

    <div class="security-label">
        <div class="title">Метки безопасности:</div>
        <div class="setup-table">
            <div class="desc">Добавление записей</div>
            <div>
                <div class="radio-item">
                    <input id="allTable" type="radio" ng-model="ruleTable" value="all" ng-click="tableOnSelect('all')">
                    <label for="allTable">Для всех таблиц</label>
                </div>
                <div class="radio-item">
                    <input id="someTable" type="radio" ng-model="ruleTable" value="some" ng-click="tableOnSelect('some')">
                    <label for="someTable">Для нескольких таблиц</label>
                </div>
                <div class="content" ng-show="tableAll">
                    <div class="dropdown-wrap"><dropdown placeholder="Выберите" list="rules" property="desc" selected="tableRuleSelected"></dropdown></div>
                </div>
                <div class="content" ng-show="!tableAll">
                    <div class="link" ng-click="showAccessSettingsDlg()">Настроить</div>
                </div>
            </div>
        </div>
        <div class="setup-temp">
            <div class="desc">Временные метки</div>
            <div class="use-option">
                <div class="checkbox">
                    <input id="checkTemp" type="checkbox" ng-model="useTemp" name="check" value="yes">
                    <label for="checkTemp">Использовать</label>
                </div>
            </div>
            <div ng-show="useTemp">
                <div class="radio-item">
                    <input id="allTemp" type="radio" ng-model="ruleTemp" value="all" ng-click="tempOnSelect('all')">
                    <label for="allTemp">Для всех таблиц</label>
                </div>
                <div class="radio-item">
                    <input id="someTemp" type="radio" ng-model="ruleTemp" value="some" ng-click="tempOnSelect('some')">
                    <label for="someTemp">Для нескольких таблиц</label>
                </div>
                <div class="content" ng-show="tepmAll">
                    <div class="dropdown-wrap"><dropdown placeholder="Выберите" list="timeSettings" property="text" selected="timeSelected"></dropdown></div>
                </div>
                <div class="content" ng-show="!tepmAll">
                    <div class="link" ng-click="showTempAccessSettingsDlg()">Настроить</div>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-bar">
        <div button func="saveSettings" text="Сохранить" loading="true"></div>
        <div button ng-show="createMode" func="deleteAccount" text="Удалить" clazz="remove"></div>
    </div>
</div>

<script type="text/ng-template" id="accountAcsDlgCntl">
    <div class="acc-acs-dlg">
        <div class="settings-wrap">
            <div class="tbl">
                <div class="row">
                    <div class="desc">Таблица</div>
                    <div class="cont">
                        <div class="dropdown-wrap"><dropdown placeholder="Выберите" list="tables" property="name" selected="tableSelected"></dropdown></div>
                    </div>
                </div>
                <div class="row">
                    <div class="desc">Метка</div>
                    <div class="cont">
                        <div class="dropdown-wrap"><dropdown placeholder="Выберите" list="rules" property="desc" selected="dlgRuleSelected"></dropdown></div>
                    </div>
                </div>
            </div>
            <div class="link" ng-click="addTable()">Добавить</div>
        </div>
        <div class="items-wrap">
            <div class="item" ng-repeat="settings in tableSettings">
                <div class="table-name">{{settings.table}}</div>
                <div class="rule-name">{{settings.ruleDesc}}</div>
                <div class="link remove" ng-click="removeTable($index)">Удалить</div>
            </div>
        </div>
        <div class="btn-bar">
            <div button func="acceptSettings" text="Применить"></div>
            <div class="link" ng-click="closeThisDialog()">Отмена</div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="accountAcsTmpDlgCntl">
    <div class="acc-acs-dlg">
        <div class="settings-wrap">
            <div class="tbl">
                <div class="row">
                    <div class="desc">Таблица</div>
                    <div class="cont">
                        <div class="dropdown-wrap"><dropdown placeholder="Выберите" list="tables" property="name" selected="tableSelected"></dropdown></div>
                    </div>
                </div>
                <div class="row">
                    <div class="desc">Время</div>
                    <div class="cont">
                        <div class="dropdown-wrap"><dropdown placeholder="Выберите" list="timeSettings" property="text" selected="dlgTimeSelected"></dropdown></div>
                    </div>
                </div>
            </div>
            <div class="link" ng-click="addTable()">Добавить</div>
        </div>
        <div class="items-wrap">
            <div class="item" ng-repeat="settings in tempSettings">
                <div class="table-name">{{settings.table}}</div>
                <div class="time">{{settings.timeText}}</div>
                <div class="link remove" ng-click="removeTable($index)">Удалить</div>
            </div>
        </div>
        <div class="btn-bar">
            <div button func="acceptSettings" text="Применить"></div>
            <div class="link" ng-click="closeThisDialog()">Отмена</div>
        </div>
    </div>
</script>