<div id="accounts-edit">
    <div class="tbl">
        <div class="row">
            <div class="desc">Логин</div><div class="cont"><input type="text" ng-model="id"></div>
        </div>
        <div class="row">
            <div class="desc">Имя</div><div class="cont"><input type="text" ng-model="name"></div>
        </div>
        <div class="row">
            <div class="desc">Пароль</div><div class="cont"><input type="text" ng-model="password"></div>
        </div>
        <div class="row">
            <div class="desc">Должность</div><div class="cont"><input type="text" ng-model="position"></div>
        </div>

        <div>
            <div>Метки безопасности:</div>
            <div class="setup-table">
                <div>При добавлении записей</div>
                <div>
                    <div class="radio-item">
                        <input id="all" type="radio" ng-model="ruleTable" value="all" ng-click="tableOnSelect('all')">
                        <label for="all">Для всех таблиц</label>
                    </div>
                    <div ng-show="tableAll">
                        Правила
                    </div>
                    <div class="radio-item">
                        <input id="some" type="radio" ng-model="ruleTable" value="some" ng-click="tableOnSelect('some')">
                        <label for="some">Для нескольких таблиц</label>
                    </div>
                    <div ng-show="!tableAll">
                        <div class="link" ng-click="showAccessSettingsDlg()">Настроить</div>
                    </div>
                </div>
            </div>
            <div class="setup-temp">
                <div>Использовать временные метки</div>
            </div>
        </div>

        <div class="btn-bar">
            <div button func="saveSettings" text="Сохранить" loading="true"></div>
            <div button ng-show="createMode" func="deleteAccount" text="Удалить" clazz="remove"></div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="accountAcsDlgCntl">
    <div class="acc-acs-dlg">
        <div class="settings-wrap">
            <div>Таблица</div>
            <div>Метка</div>
        </div>
        <div class="items-wrap">

        </div>
        <div class="btn-bar">
            <div button func="protect" text="Применить"></div>
            <div class="link" ng-click="closeThisDialog()">Отмена</div>
        </div>
    </div>
</script>