<div id="groups-edit">
    <div class="tbl">
        <div class="row">
            <div class="desc">Название</div><div class="cont"><input type="text" ng-model="name"></div>
        </div>
        <!--<div class="row">-->
            <!--<div class="desc">Должность</div><div class="cont"><input type="text" ng-model="name"></div>-->
        <!--</div>-->

    </div>
    <div class="users">
        <div class="users-group">
            <div class="title">Пользователи в группе:</div>
            <div class="list">
                <div class="item" ng-repeat="user in members" ng-click="removeMember(user.id)">
                    <div>{{user.name}}</div>
                </div>
            </div>
        </div>
        <div class="users-other">
            <div class="title">Остальные пользователи:</div>
            <div class="list">
                <div class="item" ng-repeat="user in users" ng-click="addMember(user.id)">
                    <div>{{user.name}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-bar">
        <div button func="saveSettings" text="Сохранить" loading="true"></div>
        <div button ng-show="createMode" func="deleteGroup" text="Удалить" clazz="remove"></div>
    </div>
</div>