<div id="groups-edit">
    <div class="tbl">
        <!--<div class="row">-->
            <!--<div class="desc">ID</div><div class="cont"><input type="text" ng-model="id"></div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="desc">Должность</div><div class="cont"><input type="text" ng-model="name"></div>-->
        <!--</div>-->

        <div class="btn-bar">
            <div button func="saveSettings" text="Сохранить" loading="true"></div>
            <div button ng-show="createMode" func="deleteAccount" text="Удалить" clazz="remove"></div>
        </div>
    </div>
</div>