<div id="groups-edit">
    <div class="tbl">
        <div class="row">
            <div class="desc">Название</div><div class="cont"><input type="text" ng-model="name"></div>
        </div>

    </div>
    <div class="users">
        <div class="users-group">
            <div class="title">Пользователи в группе:</div>
            <div class="list">
                <div class="item" ng-repeat="user in members" ng-click="removeMember(user.id)">
                    <div>{{user.name}}</div>
                </div>
            </div>
        </div>
        <div class="users-other">
            <div class="title">Остальные пользователи:</div>
            <div class="list">
                <div class="item" ng-repeat="user in users" ng-click="addMember(user.id)">
                    <div>{{user.name}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="hierarchy">
        <div class="title">Группы выше:</div>
        <div class="parents-wrap">
            <div class="parent-item" ng-repeat="parent in parents">
                <div class="name">{{getName(parent.id)}}</div>
                <div class="level"> ({{parent.level}}) </div>
                <div ng-if="parent.level == 1" class="rm link" ng-click="removeParent($index)">Удалить</div>
            </div>
        </div>
        <div class="add-parent link" ng-click="showAddParent()">Добавить</div>
    </div>

    <div class="btn-bar">
        <div button func="saveSettings" text="Сохранить" loading="true"></div>
        <div button ng-show="createMode" func="deleteGroup" text="Удалить" clazz="remove"></div>
    </div>
</div>

<script type="text/ng-template" id="addParentDlg">
    <div class="add-parent-dlg">
        <div class="txt">Группы:</div>
        <div class="dropdown-wrap"><dropdown placeholder="Выберите" list="groupsAvailable" property="name" selected="groupSelected"></dropdown></div>
        <div class="btn-bar">
            <div button func="acceptSettings" text="Применить" ng-click="addParent()"></div>
            <div class="link" ng-click="closeThisDialog()">Отмена</div>
        </div>
    </div>
</script>