<div id="entity-list">
    <div class="entity-wrap">
        <div class="item-entity" ng-repeat="entity in entities" ng-click="getObject(entity.id)">
            <div class="item-name">{{entity.name}}</div>
            <div class="item-content">
                <div class="cnt-props">Кол-во свойств: {{entity.cntProps}}</div>
            </div>
        </div>
    </div>

    <div class="btn-bar">
        <div button func="getObject" text="Создать" clazz="create" params="!new"></div>
    </div>
</div>