<div class="object-item">
    <div class="content-wrap">
        <div class="object-name">{{entity.name}}</div>
        <div class="object-id">{{entity.id}}</div>
        <div class="table-wrap">
            <table>
                <tr>
                    <th ng-repeat="column in entity.columns">{{column}}</th>
                </tr>
                <tr ng-repeat="row in entity.rows track by $index">
                    <td ng-repeat="dataRow in row track by $index">{{dataRow}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>