<div id="test-page">
    <div><span>Установка: </span><span class="link" ng-click="install()">Install</span></div>
    <div class="tbl">
        <div class="row">
            <div class="desc">Таблица</div><div class="cont"><input type="text" ng-model="table"></div>
        </div>
    </div>
    <div button func="testGet" text="Просмотр"></div>
    <div button func="testAdd" text="Добавление"></div>
    <div>
        <div class="table-data">
            <div class="content-wrap">
                <div class="object-name">{{entity.name}}</div>
                <div class="object-id">{{entity.id}}</div>
                <div class="table-wrap">
                    <table>
                        <tr>
                            <th ng-repeat="column in entity.columns">{{column}}</th>
                        </tr>
                        <tr ng-repeat="row in entity.rows">
                            <td ng-repeat="dataRow in row">{{dataRow}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>Логин</div>
        <input type="text" ng-model="userName">
        <div>Пароль</div>
        <input type="text" ng-model="userPass">
        <div class="clear"></div>
        <div class="link" ng-click="auth()">Авторизация</div>
    </div>

    <br>
    <div>
        <div>VCS</div>
        <div><div class="link" ng-click="reset()">Reset</div></div>
        <div><div class="link" ng-click="init()">Init</div></div>
        <div><div class="link" ng-click="work()">Work</div></div>
        <div><div class="link" ng-click="compile()">Compile</div></div>
        <div><div class="link" ng-click="copyToFile()">Copy to file</div></div>
        <div><div class="link" ng-click="copyFromFile()">Copy from file</div></div>
    </div>

    <div>
        <br>
        <div>Performance</div>
        <div><div class="link" ng-click="testSelectNormal()">TestSelectNormal</div></div>
        <div><div class="link" ng-click="testSelectSecure()">TestSelectSecure</div></div>
    </div>
</div>