  <config>
      <entity>
          <id>dolzhnosti</id>
          <name>Должности</name>
          <property>
              <name>name</name>
              <type>char</type>
              <desc>Name</desc>
          </property>
          <property>
              <name>age</name>
              <type>int</type>
              <desc>Age</desc>
          </property>
      </entity>
      <entity>
          <id>objects</id>
          <name>Objects</name>
          <property>
              <name>num</name>
              <type>int</type>
              <desc></desc>
          </property>
      </entity>
  </config>