<!DOCTYPE html>

<html ng-app="accessSettings" ng-controller="mainCntl">
  <head>
    <title>Settings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet/less" type="text/css" href="/public/css/app.less"/>
    <link rel="stylesheet/less" type="text/css" href="/public/css/controls.less"/>
    <link rel="stylesheet/less" type="text/css" href="/public/css/dialog.less"/>
    <link rel="stylesheet/less" type="text/css" href="/public/css/accounts.less"/>
    <link rel="stylesheet/less" type="text/css" href="/public/css/groups.less"/>
    <link rel="stylesheet/less" type="text/css" href="/public/css/table.less"/>
    <link rel="stylesheet/less" type="text/css" href="/public/css/rules.less"/>
    <link rel="stylesheet/less" type="text/css" href="/public/css/db.less"/>
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <script src="/public/js/lib/less.js" type="text/javascript"></script>
    <script src="/public/js/lib/jquery-2.1.4.js" type="text/javascript"></script>
    <script src="/public/js/lib/angular.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/lib/angular-resource.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/lib/angular-route.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/lib/angular-animate.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/lib/ngDialog.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/app.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/services.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/directives.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/controllers/main.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/controllers/tables.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/controllers/rules.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/controllers/db.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/controllers/accounts.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/controllers/groups.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
